.form {
    max-width: 30rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formLabel {
    margin-bottom: 0.25rem;
}

.formField {
    padding: 0.5rem;
    height: 0.8rem;
    border: 1px solid #CBCBCB;
}

.formFieldFiles {
    padding: 0.5rem;
    height: 1rem;
    margin-bottom: 1rem;
}

.formFieldDesc {
    padding: 5px;
    resize: none;
    height: 4.5rem;
    border: 1px solid #CBCBCB;
}

.display {
    display: flex;
    flex-direction: row;
}

.imageContainer {
    position: relative;
}

.image {
    margin-right: 1rem;
    width: 15rem;
    height: 15rem;
}

.icon {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
}

.formSubmitBtn {
    padding: 0.5rem 0.7rem;
    min-width: 5rem;
    background-color: #EB2353;
    color: black;
}

.formSubmitBtn:disabled {
    opacity: 0.5;
}

.error {
    color: red;
    margin-top: 0.5rem;
}
